################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

#/endgame/Library
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]serSettings/
.vs/
